DataValidators/energy-account-report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecc="etso-core-cmpts.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" ecc:VersionRelease="3.3">
	<xsd:import namespace="etso-core-cmpts.xsd" schemaLocation="etso-core-cmpts.xsd" />
	<!-- ETSO Document Automatically generated from a UML class diagram using XMI. Generation tool version 1.7 -->
	<xsd:element name="EnergyAccountReport">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation />
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="DocumentIdentification" type="ecc:IdentificationType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentVersion" type="ecc:VersionType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentType" type="ecc:MessageType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentStatus" type="ecc:StatusType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ProcessType" type="ecc:ProcessType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ClassificationType" type="ecc:ClassificationType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderIdentification" type="ecc:PartyType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderRole" type="ecc:RoleType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverIdentification" type="ecc:PartyType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverRole" type="ecc:RoleType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentDateTime" type="ecc:MessageDateTimeType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="AccountingPeriod" type="ecc:TimeIntervalType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Domain" type="ecc:AreaType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="AccountTimeSeries" type="AccountTimeSeries_Type" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="DtdVersion" type="xsd:string" use="required" />
			<xsd:attribute name="DtdRelease" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AccountTimeSeries_Type">
		<xsd:annotation>
			<xsd:documentation />
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SendersTimeSeriesIdentification" type="ecc:IdentificationType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BusinessType" type="ecc:BusinessType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Product" type="ecc:EnergyProductType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ObjectAggregation" type="ecc:ObjectAggregationType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Area" type="ecc:AreaType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Party" type="ecc:PartyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AgreementIdentification" type="ecc:IdentificationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MeasurementUnit" type="ecc:UnitOfMeasureType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Currency" type="ecc:CurrencyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AccountingPoint" type="ecc:AreaType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Period" type="Period_Type" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Period_Type">
		<xsd:annotation>
			<xsd:documentation />
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Resolution" type="ecc:ResolutionType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AccountInterval" type="AccountInterval_Type" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccountInterval_Type">
		<xsd:annotation>
			<xsd:documentation />
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Pos" type="ecc:PositionType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InQty" type="ecc:QuantityType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OutQty" type="ecc:QuantityType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SettlementAmount" type="ecc:AmountType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>