DataValidators/rights-document.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Michael Conroy (TEDIOR SARL) -->
<xsd:schema xmlns:ecc="etso-core-cmpts.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" ecc:VersionRelease="6.0">
	<xsd:import namespace="etso-core-cmpts.xsd" schemaLocation="etso-core-cmpts.xsd" />
	<!-- ETSO Document Automatically generated from a UML class diagram using XMI. Generation tool version 1.7 -->
	<xsd:complexType name="Interval_Type">
		<xsd:annotation>
			<xsd:documentation />
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Pos" type="ecc:PositionType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Qty" type="ecc:QuantityType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Price" type="ecc:AmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Period_Type">
		<xsd:annotation>
			<xsd:documentation />
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Resolution" type="ecc:ResolutionType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Interval" type="Interval_Type" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RightsTimeSeries_Type">
		<xsd:annotation>
			<xsd:documentation />
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TimeSeriesIdentification" type="ecc:IdentificationType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BusinessType" type="ecc:BusinessType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InArea" type="ecc:AreaType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OutArea" type="ecc:AreaType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RightsHolder" type="ecc:PartyType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransfereeParty" type="ecc:PartyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContractIdentification" type="ecc:IdentificationType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContractType" type="ecc:ContractType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PreviousContractIdentification" type="ecc:IdentificationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MeasureUnitQuantity" type="ecc:UnitOfMeasureType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AuctionIdentification" type="ecc:IdentificationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Currency" type="ecc:CurrencyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MeasureUnitPrice" type="ecc:UnitOfMeasureType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Period" type="Period_Type" maxOccurs="unbounded" />
			<xsd:element name="Reason" type="Reason_Type" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RightsDocument">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation />
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="DocumentIdentification" type="ecc:IdentificationType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentVersion" type="ecc:VersionType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentType" type="ecc:MessageType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderIdentification" type="ecc:PartyType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderRole" type="ecc:RoleType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverIdentification" type="ecc:PartyType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverRole" type="ecc:RoleType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="CreationDateTime" type="ecc:MessageDateTimeType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ApplicableTimeInterval" type="ecc:TimeIntervalType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Domain" type="ecc:AreaType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentStatus" type="ecc:StatusType">
					<xsd:annotation>
						<xsd:documentation />
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="RightsTimeSeries" type="RightsTimeSeries_Type" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element name="Reason" type="Reason_Type" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="DtdVersion" type="xsd:string" use="required" />
			<xsd:attribute name="DtdRelease" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Reason_Type">
		<xsd:annotation>
			<xsd:documentation />
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReasonCode" type="ecc:ReasonCodeType">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReasonText" type="ecc:ReasonTextType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>